@model IEnumerable<DuanThuctap.Models.LOAITK>
@{
    ViewBag.Title = "Tìm kiếm loại tài khoản";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}
<style>
    .fw-title {
        font-size: 14pt;
        font-weight: 500;
    }

    .color-delete {
        color: aliceblue;
    }
</style>
<!--Side bar bên phải-->
<div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mb-3">Thông tin tài khoản</h3>
                <div class="col-12 text-left">
                    <a href="/Khachhang/Loaitaikhoan">
                        <button type="button" class="btn btn-primary fw-title mb-3"> Back to List</button>
                    </a>
                </div>
         
            <div class="table">
                <table class="table table-striped table-hover text-center border border-1">
                    <tr class="fw-title">
                        <td>Mã loại tài khoản</td>
                        <td>Tên loại tài khoản</td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.MALOAITK)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TENLOAITK)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </main>
</div>
<!--Side bar bên phải-->
