@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <!--Side bar bên phải-->
    <div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
        <main>
            <div class="container-fluid px-4">
                <h4>Thống kê</h4>
                <hr />
                <!--Begin: Thống kê đăng ký-->
                <!-- Begin: Thống kê đăng ký -->
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <script src="https://code.highcharts.com/modules/exporting.js"></script>
                <script src="https://code.highcharts.com/modules/export-data.js"></script>
                <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                <figure class="highcharts-figure">
                    <div id="container"></div>
                    <p class="highcharts-description"></p>
                </figure>

                <script>
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Thống kê doanh thu của Shop'
        },
        subtitle: {
            text: 'Thống kê theo tháng'
        },
        xAxis: {
            categories: @Html.Raw(Json.Encode(ViewBag.Categories))
        },
        yAxis: {
            title: {
                text: 'Doanh thu'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Doanh thu',
            data: @Html.Raw(Json.Encode(ViewBag.DoanhThuData))
        }]
    });
                </script>
                <!-- End: Thống kê đăng ký -->
                <!--END: Thống kê đăng ký-->
            </div>
        </main>
    </div>
    <!--Side bar bên phải-->

</body>

</html>

